.topPanel {
  margin-top: 20px;
}

.container {
  width: 40%;
}

body {
  background: url('/images/daniel-frank-201417.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
